extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Reset hesla
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    p.pb-4 Zadejte svoji email adresu a odešleme vám další instrukce.
    .form-group.row.mb-3
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group.offset-sm-3.col-md-7.pl-2.mb-3
      button.btn.btn-primary(type='submit')
        i.fas.fa-key.fa-sm
        | Vytvoření / reset hesla
