extends ../layout

block content
  .row
    .col-lg-12
      .pb-2.mt-2.mb-4
        h3 Archiv médií

  #tab-overflow
    #tab-container
      #tab2
        .col-lg-12
          #toolbar-tab2.archive-toolbar
            i.fas.fa-filter
            | Filtrovat: &nbsp;
            a#btn-filter0.btn.btn-default.bg-red
              | Rozpracované na klientovi
            a#btn-filter1.btn.btn-default.bg-cyan
              | Ukončené na klientovi
            a#btn-filter2.btn.btn-default.bg-cyan
              | Rozpracované na serveru
            a#btn-filter3.btn.btn-default.bg-yellow
              | Připravené na archivaci
            a#btn-filter4.btn.btn-default
              | Archivované
            a#btn-filter5.btn.btn-default
              | Timeout analýzy média (DROID)
            a#btn-filter6.btn.btn-default
              | Jiný problém s analýzou média (DROID)
            a#btn-filternone.btn.btn-default
              | Vše
          table#table-archive(data-url="/cdarcha/archivelist/dataset", data-search="true", data-pagination="true", data-show-refresh="true", data-show-columns="true", data-minimum-count-columns="2", data-side-pagination="server", data-id-field="_id", data-page-list="[10, 25, 50, 100, ALL]", data-show-footer="false")
      #tab3
        .col-lg-12
          #toolbar-tab2
            a#btn-back2.btn.btn-default(href="/cdarcha/archivelist")
              i.fas.fa-arrow-left
              | Návrat
          table#table-content-media(data-url="/cdarcha/content/media/dataset", data-pagination="true", data-show-refresh="true", data-show-columns="true", data-minimum-count-columns="2", data-side-pagination="server", data-id-field="_id", data-page-list="[10, 25, 50, 100, ALL]", data-show-footer="false")
          p &nbsp;
          p &nbsp;
          h4 Obsah archivu
          div#table-content-treeview(data-url="/cdarcha/content/files/dataset")
          textarea#textarea-content-treeview.w-100.form-control(style="height:800px;", disabled="disabled")

  #edit-archive-modal.modal(tabindex="-1", role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Editace archivu
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Zavřít")
        .modal-body
        .modal-footer
          button.btn.btn-primary.save-archive(type="button") Uložit
          button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Zavřít

  #archive-pluged.toast
    .toast-header CDArcha akce
    .toast-body Archiv byl připojen do Vašeho adresáře.

  #archive-unpluged.toast
    .toast-header CDArcha akce
    .toast-body Všechny archivy byly odpojeny z Vašeho adresáře.

  script(src='/cdarcha/js/datatables.js')
  script(src='/cdarcha/js/archivelist.js')
