.navbar.navbar-light.fixed-top.navbar-expand-md
  .container
    a.navbar-brand(href='/cdarcha/')
      i.fas.fa-cog
      | CDArcha
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if user
          li.nav-item.menu-biblio(class=(title === 'Bibliografické záznamy') ? 'active' : undefined)
            a.nav-link(href='/cdarcha/bibliolist') Bibliografické záznamy
          li.nav-item.menu-archive(class=(title === 'Archiv médií') ? 'active' : undefined)
            a.nav-link(href='/cdarcha/archivelist') Archiv
          li.nav-item.menu-content.d-none
            a.nav-link Obsah archivu
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/cdarcha/login') Přilásit se
        else
          if user.roleType == 0
            li.nav-item(class=(title === 'Uživatelé') ? 'active' : undefined)
              a.nav-link(href='/cdarcha/userslist') Uživatelé
          li.dropdown(class=(title === 'Účet') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/cdarcha/account') Můj účet
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/cdarcha/logout') Odhlásit se
