extends ../layout

block content
  .pb-2.mt-2.mb-4
    h1.text-center CDArcha - Administrační rozhraní
  br
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Heslo
      .col-md-7
        input.form-control(type='password', name='password', id='password', placeholder='Heslo', required)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.col-md-3.btn.btn-primary(type='submit')
          i.far.fa-user.fa-sm
          | Přihlásit se
        a.btn.btn-link(href='/cdarcha/forgot') Zapomenuté heslo?
    .form-group
      .offset-sm-3.col-md-7.pl-2
        hr
    .form-group
      .offset-sm-3.col-md-7.pl-2
        a.btn.btn-block.btn-google.btn-social(href='/cdarcha/auth/google')
          i.fab.fa-google-plus-g.fa-xs
          | Přihlásit se pomocí Google
        a.btn.btn-block.btn-github.btn-social(href='/cdarcha/auth/github')
          i.fab.fa-github.fa-sm
          | Přihlásit se pomocí GitHub
