#archive-edit-form.common-form
  .col-xs-12
    input#form-csrf(type='hidden', name='_csrf', value=_csrf)
    input#form-id(type='hidden', name='_id', value=data.id)
    label(for="archive-status") Stav archivu:
    select#archive-status(name="status")
      option(value=0, selected= data.status == 0) Rozpracované na klientovi
      option(value=1, selected= data.status == 1) Ukončené na klientovi
      option(value=2, selected= data.status == 2) Rozpracované na serveru
      option(value=3, selected= data.status == 3) Připravené na archivaci
      option(value=4, selected= data.status == 4) Archivované
